Screen {
    layout: grid;
    grid-size: 5 3;
    grid-columns: auto 1fr auto auto auto;
    grid-rows: auto 1fr auto;
}

Label {
    width: 100%;
    padding: 1;
    text-align: center;
}

#pyvisa_log {
    column-span: 5;
}

#query_message_input {
    column-span: 3;
}
